extends layout

block main-content
    each val in data
        div.item-story-title
            a(href='https://storytellerapi.herokuapp.com/api/story/' + val.id + '?pretty')
                h1=val.title